@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;0,600;0,800;1,400;1,700;1,800&display=swap");

:root {
  --primary: #3155e7;
  --primary-light: #6d71d1;
  --primary-dark: #2045d6;
  --black: #0f111b;
  --gray: #7c7e7e;
  --gray-2: #5c5653;
  --white: #ffffff;
  --body: #fefefe;
  --scdry: rgb(202, 148, 11);
}

body {
  font-family: "Plus jakarta Sans", sans-serif;
  /* background-color: var(--body); */
}
