.card:hover {
  width: 130px;
  transform: scale(1.2);
  transition-duration: 1s;
  /* transition-delay: 1s; */
  /* animation-name: bounce;
  animation-timing-function: ease; */
}
.card h5 {
  color: var(--scdry);
}
